<h1>Simple Approach</h1>

<div *ngIf="user.hasOneOfPrivilege(['VIEW_OVERVIEW'])">
  user can see the overview
</div>

<h1>Structural Directive Approach</h1>

<div>
  Is Admin: {{ user.isAdmin() }}, Privileges: {{ user.getPrivileges() | json }}
</div>

<div *appHasPrivileges="['VIEW_OVERVIEW']">user can see the overview</div>

<div *appHasPrivileges="['VIEW_DETAILS']">user can see the details</div>

<div *appHasPrivileges="['VIEW_DETAILS', 'VIEW_OVERVIEW', 'DO_COOL_STUFF']">
  user can nearly do anything
</div>

<div *appHasPrivileges="['VIEW_OVERVIEW']; orIsAdmin: true">
  user can see the overview or is admin
</div>

<div *appHasPrivileges="['VIEW_OVERVIEW', 'VIEW_DETAILS']; orIsAdmin: true">
  user can see the details or is admin
</div>

<ng-template
  [appHasPrivileges]="['VIEW_OVERVIEW', 'VIEW_DETAILS']"
  [appHasPrivilegesOrIsAdmin]="true"
>
  <div>user can see the details or is admin</div>
</ng-template>

<div *appHasPrivileges="[]; orIsAdmin: true">
  user can do nothing but is admin
</div>

<ng-template [appHasPrivileges] [appHasPrivilegesOrIsAdmin]="true">
  <div>user can do nothing but is admin</div>
</ng-template>

<div>
  <label for="isAdmin">Is Admin?</label>
  <input id="isAdmin" type="checkbox" [(ngModel)]="user.admin" />
</div>

<h1>Improved Structural Directive Approach</h1>

<div *appHasPrivilegesWithStore="['VIEW_OVERVIEW']; orIsAdmin: true">
  user can see the overview
</div>

<div>
  <button (click)="changeAdmin()">Change Admin State</button>
</div>
